@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: inherit;
}

html,
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #8bd16a;
}

.board-container {
  background-color: #b6b6b6;
  padding: 10px;

  border: 8px solid transparent;
  border-top-color: #dadada;
  border-left-color: #dadada;
  border-bottom-color: #63615b;
  border-right-color: #63615b;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 12px;

  border: 8px solid transparent;
  border-top-color: #63615b;
  border-left-color: #63615b;
  border-bottom-color: #dadada;
  border-right-color: #dadada;

  .counter {
    background-color: black;
    height: 62px;
    width: fit-content;
    color: red;
    padding: 4px 20px;
    text-align: center !important;
    font-size: 3rem;
  }

  .reset {
    background-color: black;
    color: white;
    aspect-ratio: 1/1;
    height: 62px;
    padding: 11px;
    font-size: 2.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 200ms ease;
  }
  .reset:hover {
    background-color: #2e2d2a;
  }
}

#canvas-element {
  border: 8px solid transparent;
  border-top-color: #63615b;
  border-left-color: #63615b;
  border-bottom-color: #dadada;
  border-right-color: #dadada;
}
